.cluster {
  background: #ABABAB;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  border: 1px solid #ABABAB;
  font-family: monospace;
}

.cluster:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}

.flown {
  background: #2d84c8;
}

.error {
  background: #E80C0C;
}

.single {
  height: 14px;
  width: 14px;
  line-height: 14px;
  margin-top: -7px;
  margin-left: -7px;
}

.digits-1 {
  font-size: 14px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

.digits-2 {
  font-size: 16px;
  height: 34px;
  width: 34px;
  line-height: 35px;
  margin-top: -17px;
  margin-left: -17px;
}

.digits-2:before {
  border-width: 2px;
}

.digits-3 {
  font-size: 18px;
  height: 48px;
  width: 47px;
  line-height: 47px;
  border-width: 3px;
  margin-top: -24px;
  margin-left: -24px;
}

.digits-3:before {
  border-width: 3px;
}

.digits-4 {
  font-size: 18px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  border-width: 4px;
  margin-top: -29px;
  margin-left: -29px;
}

.digits-4:before {
  border-width: 4px;
}

.legend {
  line-height: 18px;
  color: #555;
  padding: 6px 8px;
  font: 14px/18px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend div {
  padding: 3px 10px;
}

.legend i {
  background: black;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.legend .circle {
  border-radius: 50%;
}

.legend .line {
  height: 4px;
  margin-top: 6px;
}
